<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="FrameworkConfigSection">
      <section name="FrameworkConfig" type="Ada.Framework.Configuration.Section.FrameworkConfigSection, Framework.Configuration, Version=1.1.0.0" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <FrameworkConfigSection>
    <FrameworkConfig>
      <ConfigFiles>
        <File Name="ConfiguracionPrueba" Path="[RutaActual][DS][FileName]" />
        <File Name="ValidacionConfiguracionPrueba" Path="[RutaActual][DS][FileName]" />
      </ConfigFiles>
    </FrameworkConfig>
  </FrameworkConfigSection>
</configuration>